<!DOCTYPE html>
<html>
  <head>
    <title>Onebody</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-white dark:bg-gray-800" data-controller="navigation">
    <%= render 'layouts/top_navigation' %>
    <div class="flex pt-16 overflow-hidden bg-gray-50">
      <%= render 'layouts/side_navigation' %>
      <main class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
